@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
            @foreach (var c in Model.Cities)
            {
                <li>@c.Name</li>
            }
        </ul>
    </div>
</div>
                                                                          