@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel


    <div class="row">
       <div class="content-box col-xs-12">
            @foreach (var c in Model.Cities)
            {
                <button type="button" id="@c.Id" class="GetCompanies btn btn-default btn-block">@c.Name</button>
                <ul id="@c.Id"></ul>
            }
       </div>
    </div>                                                                      