@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            @foreach (var c in Model.Cities)
            {
                <li class="city-name">@c.Name</li>
            }
        </ul>
    </div>
</div>
                                                                          