@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel


    <div class="row">
       <div id="content-box" class="col-xs-12 col-md-10 col-md-offset-1">
            @foreach (var c in Model.Cities)
            {
                <div id="@c.Id" class="city-div">
                    <button type="button" class="city-button btn btn-primary btn-block">@c.Name</button>
                </div>
            }
       </div>
    </div>
                                                                    