@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel


    <div class="row">
        <div class="well">
                @foreach (var c in Model.Cities)
                {
                    <button type="button" class="btn btn-default btn-block">@c.Name</button>
                    <ul id="Company"></ul>
                }
        </div>
    </div>                                                                      