@using DEX.ViewModels
@model DEX.ViewModels.CityViewModel

<div class="row">
    <div class="col-xs-12">
        @foreach (var c in Model)
        {
            
        } 
    </div>
</div>
                                                                          